* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: PTSans,sans-serif;
    font-size: 14px;
}

.tab-wrapper {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

.nav-tabs::after {
    display: table;
    clear: both;
    content: ' ';
}

.nav-tabs {
    margin-bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
    background-color: #d3d3d3;
    list-style: none;
}

.nav-tabs>li {
    display: block;
    position: relative;
    margin-bottom: -1px;
    float: left;
}

.nav-tabs>li>a {
    display: block;
    position: relative;
    margin-right: 2px;
    padding: 10px 15px;
    transition: .2s ease;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #e0e0e0;
    color: #337ab7;
    line-height: 1.5;
    text-decoration: none;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    background-color: #e7e7e7;
    color: #444;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover {
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    background-color: #fff;
    color: #555;
}

.tab-content>.tab-pane {
    display: none;
    padding: 5px;
}

.tab-content>.tab-pane.active {
    display: block;
}

.fade {
    -o-transition: opacity .5s linear;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
    opacity: 0;
}

.in {
    opacity: 1;
}
