* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: PTSans,sans-serif;
    font-size: 14px;
}

.wrapper {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

.nav-tabs::after {
    display: table;
    clear: both;
    content: ' ';
}

.nav-tabs {
    margin-bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
    background-color: #d3d3d3;
    list-style: none;
}

.nav-tabs>li {
    display: block;
    position: relative;
    margin-bottom: -1px;
    float: left;
}

.nav-tabs>li>a {
    display: block;
    position: relative;
    margin-right: 2px;
    padding: 10px 15px;
    transition: .2s ease;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #e0e0e0;
    color: #337ab7;
    line-height: 1.5;
    text-decoration: none;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    background-color: #e7e7e7;
    color: #444;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover {
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    background-color: #fff;
    color: #555;
}

.tab-content>.tab-pane {
    display: none;
    padding: 5px;
}

.tab-content>.tab-pane.active {
    display: block;
}

.fade {
    -o-transition: opacity .5s linear;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
    opacity: 0;
}

.in {
    opacity: 1;
}

label {
    display: inline-block;
    width: 5em;
}

fieldset {
    padding: .75em;
}

fieldset div {
    position: relative;
    margin-bottom: 2em;
}

fieldset .help {
    display: inline-block;
    position: absolute;
    top: -.3em;
    left: 18em;
    width: 210px;
    padding: .2em;
    -o-transition: visibility 1s ease-out, opacity 1s ease-out;
    -webkit-transition: visibility 1s ease-out, opacity 1s ease-out;
    transition: visibility 1s ease-out, opacity 1s ease-out;
    border: 3px solid #ccc;
    border-radius: 3px;
    background-color: #f6f6f6;
    opacity: 1;
    z-index: 10;
}

fieldset .help.hide {
    opacity: 0;
    visibility: hidden;
}

.btn-help {
    padding: .4em 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f6f6f6;
    color: #2b2b2b;
}

.btn-help:focus,
.btn-help:hover {
    background: #ededed;
}

.btn-help:active {
    border: 1px solid #003eff;
    background: #007fff;
    color: #fff;
}
